{
    "extends": [
        "vue"
    ],
    "plugins": [
        "vue"
    ],
    "globals": {
        "window": true,
    },
    "rules": {
        /* your overrides -- vue/jsx-uses-vars is included in eslint-config-vue */
        "indent": [
            "error",
            4
        ],
        "space-before-function-paren": 0,
        "semi": [
            "error",
            "always"
        ],
        "no-return-assign": [
            "error",
            "except-parens"
        ],
        "curly": [
            "off",
            "multi"
        ],
        "camelcase": [
            "error",
            {
                "properties": "never"
            }
        ],
        "one-var": [
            "error",
            "always"
        ]
    }
}
