; Run `npm help config` for all the possible values.
; Everything should be installed as a dev-dependency by default, unless you _really_ know what you're doing.

save=true
save-dev=true
auto-install-peers=true
dedupe-peer-dependents=true
use-lockfile-v6=true
node-linker=hoisted
engine-strict=true
use-node-version=18.15.0