.palette {
    @apply .list-reset;
    width: 300px;

    &.duplicated {
        animation: tada 1s;
    }

    li {
        @apply .py-4 .px-2;

        &:not(:first-child) {
            @apply .capitalize;
        }

        > div {
            @apply .mb-8;

            &:last-child {
                @apply .mb-0;
            }
        }

        &:first-child {
            @apply .rounded-t;
        }

        &:last-child {
            @apply .rounded-b;
        }

        .color-code {
            @apply .uppercase;
        }
    }
}

@keyframes tada {
    0% {transform: scale(1);}
    10%, 20% {transform: scale(0.9) rotate(-3deg);}
    30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);}
    40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);}
    100% {transform: scale(1) rotate(0);}
 }
