.error-msg {
    &-enter,
    &-leave-to {
        transform: translate(-50%, -100%) !important;
    }
    &-enter-active,
    &-leave-active {
        transition: all 0.4s;
    }
}

.scale-list {
    &-item {
        transition: all 1s;
    }

    &-enter,
    &-leave-to {
        opacity: 0;
        transform: translateY(30px);
    }
}