@import "tailwindcss";

@theme {
  --font-figtree: 'Figtree', sans-serif;
  --default-font-family: var(--font-figtree);
}

/* Custom hover+focus variants */
@custom-variant hocus (&:hover, &:focus-visible);

@custom-variant hocus-within (&:hover, &:focus-within);

/* Class based dark variant */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer components {
  .button,
  .select {
    @apply border border-zinc-300 dark:border-zinc-700;
    @apply px-4 py-2 rounded-lg text-sm space-x-2;
    @apply text-zinc-900 font-semibold hocus:dark:text-white;
    @apply inline-flex items-center justify-center;
    @apply transition-colors;

    &.button-borderless {
      @apply border-transparent bg-transparent text-zinc-900;
    }
  }

  .button:not(.select) {
    @apply hocus:bg-zinc-200 hocus:dark:bg-gray-900 hocus:opacity-85;
    @apply active:scale-98;
  }

  .select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;

    @apply bg-white dark:bg-slate-900 dark:text-inherit;
    @apply appearance-none rounded-md shadow-sm text-sm;
    @apply focus:ring-indigo-500 focus:border-indigo-500;
  }

  .empty-state-sample-card {
    @apply bg-zinc-50 dark:bg-gray-800 rounded-2xl p-6 shadow-sm flex flex-col justify-between;
  }
}
